# Ignore system files
.DS_Store
Thumbs.db

# Node
node_modules/

# Env
.env

# IDEs
.vscode/
.idea/

# Logs
npm-debug.log*
yarn-debug.log*
logs/
*.log

# OS files
ehthumbs.db
Desktop.ini

# OneDrive temp
~$*
